:root {
    --bgcolor-footandhead: #1F2937;
    --maintext: #F9FAF8;
    --hero-headerlink: #E5E7EB;
    --header-logotext: #F9FAF8;
    --button: #3882F6;
    --infoheader: #1F2937;
    --quote-section: #E5E7EB;
    --quote-text: #1F2937;
    color: white;
    background-color: var(--bgcolor-footandhead);
    width: auto;

}

html, body {
    height: auto;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0;
    padding: 0;
    max-width: 750px;
    min-width: fit-content;
}

p {
    color: var(--quote-text);
    font-size: larger;
    word-break: break-all;
    max-width: 15rem;
}

h1 {
    font-size: 52px;
    font-weight: bold;
}
nav {
    margin: 0;
    position: sticky;
    top: 0;
    padding: 0;
    background-color: var(--bgcolor-footandhead);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
a {
    color: var(--hero-headerlink)   ;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 30px;
}

.header {
    margin-top: 3rem;
    background-color: var(--bgcolor-footandhead);
    height: fit-content;
}
.belowNav {
    margin-top: 5rem;
    display: flex;
    gap: 25px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondaryText {
    font-size: 32px;
    display: flex;
    color: grey;
}

.signup {
    background-color: rgb(7, 97, 234);
    color: white;
    padding: 1rem 3rem;
    font-size: larger;
    border-style: none;
    border-radius: 0.5rem;

}


.rightHeader{
    background-color: lightgray;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftHeader {
    flex: 1;
    max-width: 50%;
}

.randomInformation {   
    font-size: 2rem;
    text-align: center;
    color: black;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    margin-top: 5rem;
}
main {
    background-color: white;
    width: 100%;
    margin-top: 7rem;
}

#containerForBoxes {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    height: 500px;
}

.box {
    width: 15rem;
    height: 15rem;
    border: 5px solid var(--button);
    border-radius: 1rem;
}